body {
    background-image: url('../images/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    text-align: center;
    border: 5px;
}

.nav-panel {
    display: flex;
    background-color: orange;
    padding: 10px;
    margin: 20px;
}

.button {
    flex: 1;
    text-align: center;
    background-color: lightgreen;
    padding: 5px;
    margin: 5px;
}

button:hover {
    background-color: gold;
}

.main {
    display: flex;
}

.main-object {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.horizon {
    padding: 20px;
}

a:visited {
    color: green;
}

.image {
    background-color: lightblue;
    text-align: center;
}

.main-object #cat {
    width: 350px;
    height: auto;
}

.text {
    background-color: lightblue;
}

.form {
    background-color: lightgreen;
    text-align: center;
}

.login {
    background-color: lightgreen;
}

.footer {
    margin: 40px;
    text-align: center;
    color: red;
    background-color: black;
}
